extends layout

block content
  .row
    .span12
      h1 Did you know?
      p We are 
        strong.big #{data.fNinjaCount} 
        a(href="http://www.tretton37.com") tretton37
        |  ninjas working to create a better community for software developers
      p Wonder how many ninjas that is? Here is one way to think about it:
  .ninjas.row
    - var count = data.ninjaCount;
    - var ninjaArr = [0, 0, 0];
    - for (var i = 0; count > 0; i++) { 
    -   if (count >= 5) {
    -     ninjaArr[i % 3] += 5;
    -     count -= 5;
    -   } else {
    -     ninjaArr[i % 3] += count;
    -     count = 0;
    -   }
    - }
    - var ninjaId = 0;
    - for(var col = 0; col < 3; col++)
      .span4.ninja-column
        -for(var i = 0; i < ninjaArr[col]; i++)
          - ninjaId++
          span(class="icon-ninja ninja-#{ninjaId}")
          -if(i%5 == 4)
            br
  .row
    .span4
      .center.big-icon
        i.icon-github
      p 
        strong.big #{data.github.ninjaCount} 
        |  ninjas use 
        a(href="http://www.github.com") GitHub 
        |  and have, in total, actively garnered  
        strong #{data.github.repos.fsum} 
        |  great github repositories, both big and small, in project size and also helpfully written 
        strong #{data.github.gists.fsum} 
        |  gists
    .span4
      .center.big-icon
        i.icon-twitter
      p 
        strong.big #{data.twitter.fNinjaCount} 
        |  ninjas use 
        a(href="http://www.twitter.com") Twitter
        |  and have tweeted  
        strong #{data.twitter.tweets.fsum} 
        |  helpful tweets in total
    .span4
      .center.big-icon
        i.icon-stackoverflow
      p
        strong.big #{data.so.fNinjaCount}
        |  ninjas use 
        a(href="http://stackoverflow.com") StackOverflow
        |  to help out the community with 
        strong #{data.so.rep.fsum}
        |  reputation points on StackOverflow
        span.small &nbsp; (this is admittedly less than 
          a(href="http://stackoverflow.com/users/22656/jon-skeet") Jon Skeet
          |  but we'll get there for sure!)